@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Reey-font";
  src: url("/fonts/Reey-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-Reey: "Reey-font", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006ebf;
  --secondery: #eaa71c;
  --primary_dash: #38444f;
  --secondery_dash: #1f2937;
  --thired_dash: #0f172a;
  --fourth_dash: #606d7a;
  --second_text: #94a3b8;
  --light_text: #7d8185;
  --success: #28a745;
  --secondery-green: #01c7c4;
  --danger: #dc3545;
  --warning: #ffc107;
  --sec-text: #191e24;
  --info: #17a2b8;
  --purble: #6b56f9;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondery: var(--secondery);
  --color-primary_dash: var(--primary_dash);
  --color-secondery_dash: var(--secondery_dash);
  --color-sec-text: var(--sec-text);
  --color-thired_dash: var(--thired_dash);
  --color-fourth_dash: var(--fourth_dash);
  --color-second_text: var(--second_text);
  --color-light_text: var(--light_text);
  --color-success: var(--success);
  --color-secondery-green: var(--secondery-green);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-purble: var(--purble);
  --font-Reey: var(--font-Reey);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 30rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --success: var(--success);
  }
}

button {
  cursor: pointer;
}

@layer components {
  .btn-green-lg {
    @apply hover:bg-white bg-secondery-green text-white hover:text-black hover:scale-110 border border-transparent duration-300 flex items-center gap-3 px-8 py-4 rounded-md shadow-md   w-fit  hover:border-secondery-green;
  }
  .btn-hover {
    @apply hover:bg-white cursor-pointer hover:text-black hover:scale-110 duration-200 border border-transparent p-2 flex items-center justify-center rounded-sm text-white;
  }

  .danger-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-red-400 rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-red-400 duration-200;
  }

  .cancle-btn {
    @apply px-4 py-2  justify-center cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-gray-400 rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-gray-400 duration-200;
  }

  .info-btn {
    @apply px-4 py-2  justify-center cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-primary rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-primary duration-200;
  }

  .close-btn {
    @apply w-10 h-10 cursor-pointer bg-white text-primary_dash hover:scale-110  shadow-md flex items-center absolute top-2 left-2 justify-center rounded-md hover:bg-red-300 hover:text-white duration-200;
  }

  .submit-btn {
    @apply w-1/4 max-lg:w-1/2 max-md:w-[90%] max-sm:w-[95%] rounded-md bg-primary border border-transparent text-white text-center shadow-sm py-2 hover:bg-white hover:border-primary hover:scale-110 hover:text-black cursor-pointer my-3  mx-auto duration-200;
  }

  .input-style {
    @apply border rounded-md outline-transparent focus:outline-sky-400 duration-200 p-2 w-full border-gray-300;
  }

  .input-style.error {
    @apply border-red-500 focus:ring-red-500 focus:border-red-500;
  }

  .input-container {
    @apply relative w-full;
  }

  .input-label {
    @apply my-2 text-sm text-secondery_dash pb-2   border-b border-sky-300 w-fit ml-auto;
  }

  .select-style {
    @apply rounded-md w-full outline-none border border-gray-300 p-2;
  }

  .popup-main-bg {
    @apply w-full h-screen flex items-center justify-center bg-black/50 fixed top-0 left-0 z-[999999] backdrop-blur-lg;
  }
}

@layer utilities {
  .mask-bottom {
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }

  @media (min-width: 768px) {
    .mask-right {
      mask-image: linear-gradient(to right, black 75%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to right,
        black 75%,
        transparent 100%
      );
    }
  }
}

.hidden-scrollbar {
  /* لجميع المتصفحات */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* تخصيص شريط التمرير بأكمله */
::-webkit-scrollbar {
  width: 12px; /* عرض شريط التمرير */
  height: 12px; /* ارتفاع شريط التمرير الأفقي */
}

/* تخصيص المسار (background) */
::-webkit-scrollbar-track {
  background: var(--light_text); /* لون الخلفية */
}

/* تخصيص مقبض التمرير (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--secondery-green); /* لون مقبض التمرير */
  cursor: pointer;
}

/* تخصيص مقبض التمرير أثناء التحويم */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--info); /* لون المقبض عند التمرير فوقه */
}

.hidden-btn-clip-path {
  clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
}
.show-btn-clip-path {
  clip-path: polygon(
    25% -70%,
    75% -70%,
    120% 50%,
    75% 170%,
    25% 170%,
    -20% 50%
  );
}

.relative:focus-within .special-label {
  top: 0;
  background: white;
  padding: 0 4px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  z-index: 2;
}
